.search-container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  top: 64px;
  position: sticky;
  z-index: 3;
  background-color: #fafafa;

  @media (max-width: 600px) {
    top: 56px;
  }

  > * {
    width: 100%;
  }
}
