<div class="contact-form-container">

  <div class="go-back-button">
    <app-go-back-button></app-go-back-button>
  </div>

  <form [formGroup]="modifyContactForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input id="first_name" matInput #firstNameInput placeholder="First name" formControlName="first_name" maxlength="50">
      <mat-hint align="end">{{firstNameInput.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="f.get('first_name').hasError('required') && f.get('first_name').touched">
        Please type first name.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input id="last_name" matInput #lastNameInput placeholder="Last name" formControlName="last_name" maxlength="50">
      <mat-hint align="end">{{lastNameInput.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="f.get('last_name').hasError('required') && f.get('last_name').touched">
        Please type last name.
      </mat-error>
    </mat-form-field>

    <div class="phones-form-wrap">
      <div class="phones-form-input" formArrayName="phones">
        <div class="contact-form-container"
             *ngFor="let phone of phones.controls; let i=index" [formGroupName]="i">

          <mat-form-field>
            <span matPrefix>+1 &nbsp;</span>
            <input matInput
                   id="phone-{{i}}"
                   placeholder="Phone {{ i > 0 ? i + 1 : ''}}"
                   mask="(000) 000-0000"
                   [dropSpecialCharacters]="false"
                   formControlName="phone">
            <mat-hint align="start">e.g. +1 (950) 557-3199</mat-hint>
          </mat-form-field>

        </div>

      </div>

      <div>
        <button id="add-input-for-phone" mat-icon-button (click)="addPhone()" type="button">
          <mat-icon aria-label="Add new contact">add</mat-icon>
        </button>
      </div>

    </div>

    <mat-list *ngIf="isFormEdit">
     <mat-list-item *ngFor="let phone of this.contact.phone">
        {{phone}}
        <button mat-icon-button (click)="deletePhoneFromList(phone)" type="button">
          <mat-icon aria-label="Delete contact">delete</mat-icon>
        </button>
     </mat-list-item>
    </mat-list>


    <div class="form-actions button-row">
      <button id="delete_button"
              *ngIf="isFormEdit"
              mat-raised-button
              color="warn"
              (click)="deleteContactDialog()"
              type="button">Delete Contact
      </button>
      <button id="save_button"
              mat-raised-button
              color="primary"
              [disabled]="modifyContactForm.invalid">
        Submit
      </button>
    </div>


  </form>

</div>
